$flex-map: (
  start: flex-start,
  end: flex-end,
  around: space-around,
  between: space-between,
  center: center,
  stretch: stretch,
);

@function _get-flex-value($key) {
  @return map-get($flex-map, $key);
}

@mixin flexbox($jc: center, $ai: center) {
  display: flex;
  justify-content: $js;
  align-items: $ai;
}

@mixin inline-flexbox($jc: center, $ai: center) {
  display: inline-flex;
  justify-content: $js;
  align-items: $ai;
}

@mixin column-flexbox($jc: center, $ai: center) {
  display: flex;
  flex-direction: column;
  justify-content: $js;
  align-items: $ai;
}
